.container {
  min-height: calc(100vh - 136px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: rgb(238, 238, 238);
}

.form {
  height: auto;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contInput {
  width: 100%;
  margin-bottom: 10px;
}

.contTitle {
  width: 100%;
}

.input {
  width: 100%;
}

.formTitle {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contFormButton {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.formButton {
  padding: 5px 15px;
}

.formButton:hover {
  background: transparent;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}
